#product-details {
  width: 80%;
  margin: 20px auto;
}

.details {
  display: flex;
  column-gap: 10px;
  height: 300px;
}
.details img {
  width: fit-content;
  

}
.product-content > span {
  color: rgb(180, 179, 179);
  font-size: 13px;
}
.product-content h2 {
  color: rgb(142, 140, 140);
  font-weight: 400;
  margin: 10px 0;
}
.product-content h3 {
  color: rgb(142, 140, 140);
  font-weight: 400;
  margin: 30px 0;
}
.product-content p {
  color: gray;
  font-weight: 300;
}
.add-to-cart {
  display: flex;
  column-gap: 10px;
  width: 85%;
}
.add-to-cart input {
  width: 20%;
  outline: none;
  border: 1px solid rgb(194, 190, 190);
  text-align: center;
}
 button {
  background: #ff6b35;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

