.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.checkout h2 {
    margin-bottom: 5px;
}

hr {
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background-color: #ff6b35;
    border: none;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.form-group input:focus {
    border-color: #ff6b35;
}
.button{
  
    justify-content: end;
    display: flex;
    width: 100%;
 

}
.payment{
     justify-content: end;
    display: flex;
    width: 100%;
    line-height: 2rem;
    flex-direction: column;
    align-items: center;

}
button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #ff6b35;
    color: white;


}
button:hover{
    background-color: #9c4221;
}